html {
    @include box-sizing(border-box);
}
*,
*:after,
*:before {
  @include box-sizing(inherit);
}

.hidden{
    display:none;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}

ul{
    margin:0;
    padding:0;
}

.btn{
    margin-bottom: 10px;
}

.button {
  text-decoration: none;
  padding: 0.5rem;
  color: white;
  border-radius: 40px 40px 40px 40px;
  -moz-border-radius: 40px 40px 40px 40px;
  -webkit-border-radius: 40px 40px 40px 40px;
  border: 0px solid #000000;
  text-align: center; 
  &:hover{
      cursor:pointer;
  }
}
.center{
    margin:0 20rem !important;
}
header{
    background-color: #3d464d;
}
footer{
    background-color: #3d464d;
    color:white;
    font-weight: bold;
    text-align: center;
}
.header{
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    min-height: 5rem;
    
    
    .logo{
        color:white;
        
        i{
            margin:0.5rem;
        }
    }
    nav{
        ul{
            display:flex;
        }
        ul > *{
            margin: 1rem;
        }
    }
    
    .search-header form {
        
        display:flex;
        flex-direction:row;


        input {
            border:none;
            border-bottom: 2px solid $gray;
        }
        button {
          border:1px solid blue;
          background:blue;
          color:white;
        }
    } //ends .search-header form
    
    .login-register-buttons{
        display: flex;
        justify-content: space-between;
        .login-button{
            background-color: $login-button-color;
            margin-right: 0.5rem;
        }
        .register-button{
            background-color: $register-button-color;
        }
    }
    
    nav {
        ul{
            li{
                position:relative;
                button{
                    
                }
                ul.dropdown{
                    display: none;
                    position:absolute;
                    
                    li{
                        a{
                            padding: 0.5rem;
                            display:block;
                            &:hover{
                                background-color: blue;
                                color:white;
                            }
                        }
                    }
                }
                &:hover ul.dropdown{
                    display:flex;
                    flex-direction:column;
                }
            }
        }
    }
    .close{
        align-self: flex-end;
        font-size: 35px;
        font-weight: bold;
    }
    .close:hover, .close:focus{
        color:red;
        cursor:pointer;
    }
    .form-login-register{
        display:flex;
        flex-direction: column;
        background-color:$white;
        margin: 5% auto 15% auto;
        border: 1px solid #888;
        width: 80%;
        height: 80%;
        padding: 1rem;
        
        label{
            font-weight: bold;
        }
        input[type=text], input[type=password], input[type=number], input[type=email]{
            padding: 12px 20px;
            margin: 8px 0;
            border: 1px solid #ccc;
        }
    }
    .label-input{
        display:flex;
        flex-direction: column;
    }
    .modal{
        display:none;
        z-index: 1;
        position:fixed;
        left:0;
        top:0;
        width: 100%;
        height:100%;
        overflow: auto;
        background-color: $blackOpacity;
        padding-top: 60px;
    }
    .cancelbtn{
        width: auto;
        background-color: $red;
        color: $white;
        border: none;
        cursor:pointer;
    }
}
#main-container{
    display: flex;
    flex-direction:column;
    min-height: 100vh;
    .picture-viewers{
        min-height: 20rem;
        background-color:$gray;
    }
    
    #categories{
        
        h1{
            text-align:center;
        }
        .categories-buttons{
            display:grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    }
    .container{
        max-width: 1100px;
        
        
        .list-books{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            /*grid-template-rows: repeat(3, auto);*/
            grid-gap: 1rem;        
            
            .item-book{//anuncio
                display: grid;
                border: 1px solid #3d464d;
                border-radius: 10px;
                img{
                    border-radius: 10px 10px 0 0;
                    width: 100%;
                }
                .card{
                    background-color:#ffffff;
                    padding: 1rem;
                    border: 1px solid #AAA;
                }
                         
            }
        }
    }
}
@media screen and (min-width:768px) {
    .most-rented {
        grid-template-columns: repeat(3, 1fr)!important;
        grid-template-rows: repeat(3, auto);
    }
}

.container-singleBook{
    display:flex;
    .img-thumbnail{
        border:none;
    }
    .info-book{
        .titol-info{
            font-weight: bold;
        }
    }
}








